@font-face {
    font-family: 'Glacial Indifference';
    src: url('GlacialIndifference-Regular.woff2') format('woff2'),
        url('GlacialIndifference-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('GlacialIndifference-Italic.woff2') format('woff2'),
        url('GlacialIndifference-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('GlacialIndifference-Bold.woff2') format('woff2'),
        url('GlacialIndifference-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

