
.car{
    display: block;
    width: 100%;
}
.step-name{
font-weight: bold;
margin-top: 0px;
padding: 0px
}
.task-name{
    color:#3775ff;
    font-weight: bold;
    margin-top: 0px;
    
    
}
.car-btn{
    background-color:#3775ff;
    color: white;
    border-radius: 15px !important;
    margin: auto;
}
.carousel-control .icon-next{
    left:27px;
    top:86px;
}
.modal-body{
    padding: 25px 15px;
}
.carousel-control{
    bottom: -24px;
    top:unset !important;
    color:#3775ff !important;
    margin-right: 213px;
    margin-left: 202px;
}
.car-margin{
    margin: 5px auto;
}
.superTable .rt-tr-group .rt-td:last-child{
    text-align: right;
}