@import "../fonts/font.css";

.btn-customVisitorIn {
  left: 20%;
}

.btn-customVisitorOut {
  right: 20%;
}

.btn-customVisitorOut,
.btn-customVisitorIn {
  font-family: "Glacial Indifference", sans-serif;
  position: absolute;
  bottom: 30%;
  /* border-color: #fff;
  background-color: #ff000000 !important; */
}
.action-icon {
  color: cadetblue;
  cursor: pointer;
}
.action-icon:hover {
  color: darkslategrey;
}

.preview-image-container {
  position: relative;
  display: inline-block;
}

.preview-image-welcome {
  letter-spacing: 8px;
  font-family: "Glacial Indifference", sans-serif;
  position: absolute;
  color: #fff;
  left: 30%;
  bottom: 45%;
}

.wrapper {
  background-color: #f5f6fa;
}

.sidebar:after,
.bootstrap-navbar:after {
  background: #0f182e !important;
}

/* .btn-default {
  background: #0f182e !important;
  color: #fff;
} */

/* .btn-default:hover {
  color: #fff;
} */

#minimizeSidebar {
  background: #0f182e !important;
}

.navbar-brand {
  color: #0f182e !important;
}
.sidebar .logo {
  padding: 12px 38px;
}